body{
    background: radial-gradient(#434343, black);
}

header{
    padding: 20px;
    background-color: #363636;
}

header h1{
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
}

#item{
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    background-color: #434343;
    opacity: 0.7;
    float: left;
}

#item img{
    height: 100px;
    display: flex;
    float: left;
}

#info{
    margin-left: 200px;
    color: white;
    display: flex;
}

#info h2{
    margin-left: 50px;
    margin-top: 30px;
}

footer{
    margin-top: 500px;
    background-color: #363636;
    padding: 10rem;
  }