* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   
body{
    background: radial-gradient(#434343, black);
      justify-content: center;
      align-items: center;
      display: flex;
      margin-top: 13%;
      color: white;
    }

h1{
        color: white;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 50px;
        
    }

input{
        width: 500px;
        height: 75px;
        border-radius: 15px;
        display: flex;
        text-align: center;
        font-size: large;
    }


.registar{
        width: 500px;
        height: 65px;
        display: flex;
        justify-content: center;
        border-radius: 15px;
        text-align: center;
        background-color: rgb(126, 230, 57);
        color: black;
        font-size: large;

    }